{% extends 'layout.html' %}

{% block content %}
    <div class="timeline">
      <form id="hashtag-form" action="/board/search">
        <select id="search_type" name="type">
            <option value="content">본문</option>
            <option value="id">ID</option>
            <option value="nickname">닉네임</option>
            <option value="hashtag">해시태그</option>
        </select>
        <input type="text" name="keyword" placeholder="검색어 입력">
        <button class="btn">검색</button>
      </form>
      {% if user %}
        <div>
          <form id="twit-form" action="/board" method="post">
            <div class="input-group">
              <label>제목</label>
              <textarea id="twit" name="title" maxlength="50" style="resize: none;"></textarea>
            </div>
            <div class="input-group">
              <label>내용</label>
              <textarea id="twit" name="content" maxlength="140" style="resize: none;"></textarea>
            </div>
            <div>
              <button id="twit-btn" type="submit" class="btn">게시하기</button>
            </div>
          </form>
        </div>
      {% endif %}
      <div class="twits">
        {% for board in boards %}
          <div class="twit">
            <form action="/board/modify/{{board.id}}" method="get">
            <input type="hidden" value="{{board.author.id}}" class="twit-user-id">
            <input type="hidden" value="{{board.id}}" class="twit-id">
            <div class="twit-author">제목 : {{board.title}}</div>
            <div class="twit-content">작성자 : {{board.author.nick}}</div>
            <div class="twit-content">내용 : {{board.content}}</div>
            <div class="twit-content">작성일 : {{gallery.createdAt | date("YYYY.MM.DD hh:mm:ss")}}</div>
            {% if board.author.id == user.id %}
              <button class="btn" type="submit">수정</button>
              <button class="btn" onclick="deleteBoard('{{board.id}}')">삭제</button>
            {% endif %}
            </form>
          </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}

{% block script %}
<script>

function updateBoard(id){

    var data = {
        id: id,
        title: $('#title').val(),
        content: $('#content').val()
    };

    if(!data.title){
      alert("제목을 작성해주세요.");
      return;
    }
    else if(!data.content){
      alert("내용을 작성해주세요.");
      return;
    }

    $.ajax({
        type: 'PUT',
        url: '/board/' + id,
        dataType: 'json',
        contentType:'application/json; charset=utf-8',
        data: JSON.stringify(data)
    }).done(function() {
        alert("수정되었습니다.");
        window.location.reload();
    }).fail(function (error) {
        alert(JSON.stringify(error));
    });

}

function deleteBoard(id){
    $.ajax({
        type: 'DELETE',
        url: '/board/' + id,
    }).done(function() {
        alert("삭제되었습니다.");
        window.location.reload();
    }).fail(function (error) {
        alert(JSON.stringify(error));
    });
}
</script>
{% endblock %}